@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Oswald&family=Raleway&family=Roboto&display=swap');

:root {
	font-family: 'Oswald', 'Lato', 'Roboto', 'Open Sans', 'Raleway', sans-serif;
	box-sizing: border-box;
	--font-mono: 'Fira Mono', monospace;
	--white: #ffffff;
	--grey: #aaa;
	--black: #000000;
	--primary-text-color: #000000;
	--placeholder-text-color: #999999;
	--primary-color: #00ff89;
	--secondary-color: #0cddf2;
	--tertiary-color: #e7edff;

	--error-color: #a3211c;
	--hover-menu-indicator-size: 0.05rem;
	--active-menu-indicator-size: 0.12rem;
}

html,
html * {
	box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--white);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.4;
	font-family: 'Roboto';
}

a {
	text-decoration: none;
	color: var(--primary-text-color);
}

h1 {
	font-size: 2rem;
	margin-bottom: 0 0 1em 0;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

h3 {
	letter-spacing: 0.1rem;
	line-height: 1.2rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 768px) {
	h1 {
		font-size: 1.4rem;
	}
}
